.transactionHistory {
  margin: 50px auto;
  width: 380px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.head {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 900;
  line-height: 30px;
  background-color: #00c3dd;
}

.amount {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.body {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.type {
  text-transform: capitalize;
}


