.friends {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  width: 320px;
}

.friends__list {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0;
}
.friends__item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-bottom: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 5px #c6cccced;
  padding: 15px;
  margin-bottom: 10px;
}

.friends__status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.true {
  background-color: green;
}
.false {
  background-color: red;
}

.avatar {
  width: 80px;
  margin-right: 10px;
}
.friends__name {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
  color: #524a4d;
}
